.product-list {
  background-color: rgb(51, 51, 51);
  padding-top: 550px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

app-product-card {
  flex: 0 0 18%; 
  margin-bottom: 16px;
}

.card{
  width: 150px;
}